*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    cursor: crosshair;
}

img {
    max-width: 100%;
    display: block;
}

/* Hero section */

.hero {
    background-color: whitesmoke;
    color: black;
    overflow: hidden;
    padding-top: 7rem;
}

h1 {
    text-align: center;
    padding-block: 4rem;
    font-size: 4rem;
    -webkit-animation: slideTop 1.5s ease;
            animation: slideTop 1.5s ease;
}

@-webkit-keyframes slideTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    } 
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    } 
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h6 {
    text-align: center;
    font-weight: 400;
    font-style: italic;
}

/* Tech n tools section, making them all sized the same and flexible */

@media ( max-width: 700px) {
    @-webkit-keyframes slide {
        from {
            transform: translateX(0);
        }to {
            transform: translateX(-100%);
        }
        
    }
    @keyframes slide {
        from {
            transform: translateX(0);
        }to {
            transform: translateX(-100%);
        }
        
    }
    
    .logos {
        overflow: hidden;
        display: flex;
    }
    
    .logos:hover .logos-slide,.logos:hover .logos-slide2 {
        -webkit-animation-play-state: paused;
                animation-play-state: paused;
    }
    
    .logos-slide, .logos-slide2 {
        display: flex;
        -webkit-animation: 10s slide infinite linear;
                animation: 10s slide infinite linear;

    }
    
    .logos-slide > div, .logos-slide2 > div {
        margin-inline: 2rem;
        margin-block: 3rem;
    }
    
    .logos-slide img, .logos-slide2 img {
        max-width: 2.5rem;
        max-height: 2.5rem;
        margin: 0 auto;
    }
    
    .logos p {
        text-align: center;
        margin-top: 1rem;
        font-size: .8rem;
    }


}

/* About me section */

.about {
    background-color: black;
    color: whitesmoke;
}

.about .container {
    max-width: 90rem;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

section.about, section#work {
    padding: 1.5rem;
}

section.about h2 {
    margin: 2rem 0;
    font-size: 2rem;
    color: #70E000;
    text-align: center;
}

section.about h3 {
    font-size: 0.7rem;
}

.about .container p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-block: 2rem;
}

.about .container .col2 p {
    margin-bottom: 2rem;
}
  

/* WORK section */

.highlight5 {
    display: none;
}

section#work {
    background-color: whitesmoke;
}

section#work h3 {
    font-size: 1.2rem;
    color: black;
}

section#work p {
    padding-block: 1rem 3rem;
    font-size: .9rem;
}

.moreProjects {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.moreProjects span {
    font-size: 1.2rem;
    padding-left: .5rem;
    width: 0;
    overflow: hidden;
    transition: .5s ease;
}

.moreProjects:hover span {
    width: 3rem;
}

.moreProjects:hover::after {
    display: inline;
    transition: 1s ease-in-out;

}

.projects {
    max-width: 20rem;
    margin: 0 auto;
    padding-top: 2rem;
}

.projects img {
    border-radius: 1rem;
    margin: 0 auto 2rem;
    transition: .5s ease-in-out;
}


.projects img:hover {
    box-shadow:
    rgba(0,0,0,0.1) 0 2px 2px,
    rgba(0,0,0,0.1) 0 4px 4px,
    rgba(0,0,0,0.1) 0 8px 8px,
    rgba(0,0,0,0.1) 0 16px 16px,
    rgba(0,0,0,0.1) 0 32px 32px,
    rgba(0,0,0,0.1) 0 64px 64px;
    transition: .5s ease-in-out;
}


/* The Creative Timeline Section */

#timeline {
    color: whitesmoke;
    background-color: black;
}

#timeline h2 {
    color: #70E000;
    font-size: 2.5rem;
    padding: 3rem 1.5rem;
    text-align: center;
}

.year2022 {
    display: flex;
    padding: 3rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#timeline hr {
    width: 100%;
    padding: 0;
    margin: 0;
}

.year2023 {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 3rem 1.5rem;
}

.year2022, .year2023 {
    justify-content: space-around;
}

.achieve-2023 p:nth-child(1) {
    padding-right: 0;
}

.achieve-2023 p + p {
    padding-top: 1rem;
}

/* Media queries for larger screen sizes then 700px */


@media ( min-width: 701px) {

    /* Hero section */

    .hero {
        min-height: 30rem;
    }

    h1 {
        padding-bottom: 5rem;
        font-size: 6rem;
    }

    
    /* .hero h1 {
        -webkit-animation: water-effect 3s infinite ease-in-out;
        animation: water-effect 3s infinite ease-in-out;
    }
    @-webkit-keyframes water-effect {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-15px);
        }
        100% {
            transform: translateY(0);
        }
    }
    @keyframes water-effect {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-15px);
        }
        100% {
            transform: translateY(0);
        }
    } */

    h6 {
        font-size: .55rem;
        margin-bottom: 4rem;
    }

    .logos {
        display: flex;
        padding-bottom: 4rem;
    }

    .logos-slide {
        display: flex;
        margin: 0 auto;
    }

    .logos-slide img {
        max-width: 2.5rem;
        max-height: 2.5rem;
        margin: 0 auto;
    }

    .logos-slide2 {
        display: none;
    }

    .logos-slide > div {
        margin-inline: 1rem;
    }

    .logos-slide > div:nth-child(2) {
        margin-right: 5rem;
    }

    .logos-slide p {
        font-size: 0.7rem;
        text-align: center;
        margin-top: 1rem;
    }



    /* About me section */

    .aboutme--flex {
        display: flex;
    }

    .about .container h2 {
        max-width: 15rem;
        padding-right: 2rem;

    }

    .about .container p {
        margin-block: 2rem;
        max-width: 30rem;
    }

    /* The Creative Timeline Section */

    .year2022 p, .year2023 p {
        font-size: 1.5rem;
    }

    .year2022, .year2023 {
        padding-block: 4rem;
    }

    #timeline h2 {
        font-size: 3rem;
        padding-block: 3rem;
    }
}

@media ( min-width: 900px ) {

    /* About me section */

    .about .container p {
        margin-inline: auto;
        max-width: 40rem;
    }

    /* WORK section */

    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 2rem;
        gap: 2rem 10rem;
        max-width: 45rem;
    }

    .moreProjects {
        font-size: 2rem;
    }

    /* Animate the text coming from the left side once scrolled in viewport */

    .text {
        overflow: hidden;
    }

    .animate {
        animation: slideLeft 1s ease both;
        animation-play-state: paused;
    }

    .delay1 {
        animation-delay: 0.5s; /* Add a 0.5s delay */
    }

    .delay2 {
        animation-delay: 0.7s; /* Add a 1s delay */
    }

    .delay3 {
        animation-delay: 0.9s; /* Add a 1.5s delay */
    }

    @keyframes slideLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

    
}

@media ( min-width: 1200px ) {

     /* Hero section */

    .hero {
        min-height: 37rem;
    }

    h1 {
        font-size: 12rem;
    }

    /* About me section */

    .about {
        min-height: 20rem;
    }

    .about .flex {
        display: flex;
        margin-inline: auto;
    }

    .about .flex > div {
        flex: 1;
        margin-right: 3rem;
    }

    #work .projects {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 65rem;
    }

    /* Work Section */

    #work .projects {
        max-width: 90rem;
        padding-inline: 2rem;
    }

    .highlight5 {
        display: block;
    }

    /* The Creative Timeline Section */

    .year2022 p, .year2023 p {
        font-size: 2rem;
    }
}

