.nav {
    position: fixed;
    width: 100%;
    padding: 2rem 1.5rem;
    background: rgba(245, 245, 245, 0.45);
    backdrop-filter: blur(1rem);
    z-index: 999999;
    transition:  0.3s ease-in-out;
    animation: slideIn 2.5s ease;
}

/* Add this class when scrolling down */
.nav.scrolled {
    opacity: 0;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

.projects-bg {
    background-color: rgba(0, 0, 0, 0.45);
}

.projects-nav a {
    color: whitesmoke;
}

.main-nav a {
    color: black;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav ul li {
    list-style: none;
    text-align: center;
}

li + li {
    padding-top: .8rem;
}

.nav ul li a {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease-out;
    text-decoration: none;
    font-weight: bold;
    font-size: .8rem;
}

.nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #9FC131;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav ul li a:hover {
    transform: translateY(-2px);
    font-weight: bold;
  }
  
  .nav ul li a:hover::after {
    transform: scaleX(1);
  }

.navLogo {
    align-self: flex-start;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
}

@media ( min-width: 768px ) {
    .nav-flex a, .nav ul li a {
        font-size: 1rem;
    }

    .nav ul {
        flex-direction: row;
    }

    .nav ul li {
        padding: 0;
    }

    .nav ul li + li {
        padding-left: 1rem;
    }
}