.nav {
    padding: 1rem 1.5rem;
    background: whitesmoke;
    backdrop-filter: blur(1px);
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav ul li {
    list-style: none;
    text-align: center;
}

li + li {
    padding-top: .8rem;
}

.nav ul li a {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease-out;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: .8rem;
}

.nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #9FC131;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav ul li a:hover {
    transform: translateY(-2px);
    font-weight: bold;
  }
  
  .nav ul li a:hover::after {
    transform: scaleX(1);
  }

.navLogo {
    align-self: flex-start;
    color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
}