*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    cursor: crosshair;
}

img {
    max-width: 100%;
    display: block;
}

/* Hero section */

.hero {
    background-color: whitesmoke;
    color: black;
    overflow: hidden;
    padding-top: 7rem;
}

h1 {
    text-align: center;
    padding-block: 4rem;
    font-size: 3rem;
    -webkit-animation: slideTop 1.5s ease;
            animation: slideTop 1.5s ease;
}

@-webkit-keyframes slideTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    } 
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    } 
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#projects {
    background-color: whitesmoke;
}

.project-container::-webkit-scrollbar { /* Hides the scroll bar from being visible for a cleaner look */
    width: 0;
}

.project-container {
    padding-inline: 1.5rem;
    max-height: 70rem;
    overflow-y: auto;
    scroll-behavior: smooth;
    max-width: 80rem;
    margin: 0 auto;
    animation: fadeIn 5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.projects {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.text-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
}

h2, h3 {
    font-size: 1rem;
}

h3 {
    color: lightgray;
}

@media ( min-width: 701px) {

    /* Hero section */

    .hero {
        min-height: 20rem;
    }

    h1 {
        padding-bottom: 5rem;
        font-size: 6rem;
    }
    
    .project-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem 3rem;
    }
}


@media ( min-width: 1200px ) {

    /* Hero section */

   h1 {
       font-size: 12rem;
   }

   .project-container {
    max-height: 75rem;
   }
}