@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    cursor: crosshair;
}

img, video {
    width: 100%;
    display: block;
}

/* Hero Section */

h1 {
    background-image: url(../img/projects/BasketballScoreboard-bg.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    min-height: 15rem;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: whitesmoke;
    text-shadow: black 3px 3px;
}


/* Project description section */

.project-desc {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 2rem 1.5rem;
}

h2 {
    color: #70E000;
}

.project-desc p {
    color: whitesmoke;
    padding-block: 1rem 2.5rem;
    font-size: .8rem;
}

.project-desc a {
    color: whitesmoke;
    font-size: .9rem;
    font-weight: bold;
}

.project-desc a:nth-last-child(1) {
    padding-top: 2rem;
}

/* Process Section */

.process {
    padding-block: 2.5rem;
    background-color: black;
}

h3 {
    color: #70E000;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

.process p {
    padding: 0 1.5rem 1.5rem;
    color: whitesmoke;
    font-size: .8rem;
    line-height: 1.3rem;
    text-align: justify;
    font-weight: 200;
}

.process p:nth-last-child(1) {
    padding-bottom: 0;
}

/* Design Section */

.design {
    padding-block: 2.5rem;
    background-color: whitesmoke;
}

.design p {
    padding: 0 1.5rem 1.5rem;
    color: black;
    font-size: .8rem;
    line-height: 1.3rem;
    text-align: justify;
}

.design img + img {
    padding-top: 2rem;
}

video {
    padding-top: 2rem;
}