*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    cursor: crosshair;
}

img {
    max-width: 100%;
    display: block;
}

section {
    padding: 3rem;
}

/* Hero Section */

.hero {
    padding: 0;
    margin-top: 5.2rem;
}

.desktop {
    display: none;
}

/* Work Section */

.portfolio-text {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: bold;
}

.portfolio-text:hover {
    text-decoration: underline;
    color: #9FC131;
}

h1 {
    padding-block: 2rem;
    font-size: 2.5rem;
}

h2 {
    font-size: 0.8rem;
}

.project {
    background-color: #ECECEC;
}

.project p {
    text-align: justify;
    font-weight: 300;
    line-height: 1.5rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding-block: 2.5rem;

}

.flex h3:nth-child(1) {
    font-weight: 200;
    font-size: 1rem;
}

.flex a {
    color: black;
    font-weight: bold;
}

.project img {
    margin: 2rem auto 0;
}

.work-description p{
    padding-block: 2rem;
}

.work-description p:first-child {
    padding-top: 2rem;
}

.work-description p:nth-last-child(1) {
    padding-bottom: 0;
}

.work-description a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: italic;
}

.work-description a:hover {
    color: #9FC131;
    text-decoration: underline;
}

.project video {
    display: none;   
}

@media ( min-width: 601px ) {

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
        width: 100%;
    }
}

@media ( min-width: 850px ) {
    .work--flex {
        display: flex;
        justify-content: space-between;
    }

    .work--flex .col1 {
        padding-right: 5rem;
        min-width: 25rem;
    }

    .work--flex .col2 {
        max-width: 50rem;
    }

    .project img {
        min-width: 60%;
        max-width: 50rem;
    }

    .project p {
        padding-top: 2rem;
    }

    .work-description {
        max-width: 60rem;
        margin: 0 auto;
    }

    .project .container video {
        display: block;
        max-width: 90%;
        margin: 4rem auto 0;
        max-height: 40rem;
    }

    .project .container .portfolio-video {
        margin-bottom: 4rem;
    }

    .portfolio-image-hide {
        display: none;
    }
}